<%- include('./partials/header') %>

</head>

<body>

    <div>

        <div class="site-content">
            <header class="site-header collapsed-nav" data-bg-image="">
                <div class="container">
                    <div class="header-bar">
                        <a href="/" class="branding">
                            <img src="./images/logo/logo_resize.jpg" alt="" class="logo">
                            <div class="logo-type">
                                <h1 class="site-title">Hutyra Research Lab</h1>
                                <small class="site-description">Carbon Cycle Science, Urbanization, Global Change, and
                                    Ecosystem Ecology.</small>
                            </div>
                        </a>

                        <nav class="main-navigation">
                            <button class="menu-toggle"><i class="fa fa-bars"></i></button>
                            <ul class="menu">
                                <li class="home menu-item current-menu-item"><a href="/"><img
                                            src="./images/home-icon.png" alt="Home"></a></li>
                                <li class="menu-item"><a href="#about">About</a></li>
                                <li class="menu-item"><a href="/sensor">Sensor Data</a></li>
                                <li class="menu-item"><a href="#contact">Contact</a></li>
                            </ul>
                        </nav>

                        <div class="mobile-navigation"></div>
                    </div>
                </div>
            </header>

            <div class="hero">
                <ul class="slides">
                    <li data-bg-image="./images/banner-1.jpg">
                        <div class="container">
                            <div class="slide-content">
                                <h2 class="slide-title">Hutyra Research Lab</h2>
                                <p>Project Sapflow Visualization Platform</p>
                                <a href="http://sites.bu.edu/hutyra/" class="button">See details</a>
                            </div>
                        </div>
                    </li>
                    <li data-bg-image="images/banner-2.jpg">
                        <div class="container">
                            <div class="slide-content">
                                <h2 class="slide-title">Hutyra Research Lab</h2>
                                <p>Project Sapflow Visualization Platform</p>
                                <a href="http://sites.bu.edu/hutyra/" class="button">See details</a>
                            </div>
                        </div>
                    </li>
                    <li data-bg-image="./images/banner-3.jpg">
                        <div class="container">
                            <div class="slide-content">
                                <h2 class="slide-title">Hutyra Research Lab</h2>
                                <p>Project Sapflow Visualization Platform</p>
                                <a href="#" class="button">See details</a>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>

            <main class="main-content">
                <div class="fullwidth-block">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-6 col-lg-3">
                                <div class="feature">
                                    <img src="./images/logo/cycle.jpg" alt="" class="feature-image">
                                    <h2 class="feature-title">Carbon Cycle Science</h2>
                                    <p>Laborum et dolorum fuga harum quidem rerum facilis et expedita distinctio nam
                                        libero
                                        tempore.</p>
                                    <a href="http://sites.bu.edu/hutyra/" class="button">Learn more</a>
                                </div>
                            </div>
                            <div class="col-sm-6 col-lg-3">
                                <div class="feature">
                                    <img src="./images/logo/tree.jpg" alt="" class="feature-image">
                                    <h2 class="feature-title">Urbanization</h2>
                                    <p>Laborum et dolorum fuga harum quidem rerum facilis et expedita distinctio nam
                                        libero
                                        tempore.</p>
                                    <a href="http://sites.bu.edu/hutyra/" class="button">Learn more</a>
                                </div>
                            </div>
                            <div class="col-sm-6 col-lg-3">
                                <div class="feature">
                                    <img src="./images/logo/global.jpg" alt="" class="feature-image">
                                    <h2 class="feature-title">Global Change</h2>
                                    <p>Laborum et dolorum fuga harum quidem rerum facilis et expedita distinctio nam
                                        libero
                                        tempore.</p>
                                    <a href="http://sites.bu.edu/hutyra/" class="button">Learn more</a>
                                </div>
                            </div>
                            <div class="col-sm-6 col-lg-3">
                                <div class="feature">
                                    <img src="./images/logo/ecosystem.jpg" alt="" class="feature-image">
                                    <h2 class="feature-title">Ecosystem Ecology</h2>
                                    <p>Laborum et dolorum fuga harum quidem rerum facilis et expedita distinctio nam
                                        libero
                                        tempore.</p>
                                    <a href="http://sites.bu.edu/hutyra/" class="button">Learn more</a>
                                </div>
                            </div>
                        </div> <!-- .row -->
                    </div> <!-- .container -->
                </div> <!-- .fullwidth-block -->

<!--                 <div class="fullwidth-block" data-bg-color="#edf2f4">
                    <div class="container">
                        <h2 class="section-title">Latest News</h2>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="post">
                                    <figure class="featured-image"><img src="./images/news-1.jpg" alt=""></figure>
                                    <h2 class="entry-title"><a href="">Magni dolores rationale</a></h2>
                                    <small class="date">2 oct 2014</small>
                                    <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium
                                        doloremque
                                        laudantium...</p>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="post">
                                    <figure class="featured-image"><img src="./images/news-2.jpg" alt=""></figure>
                                    <h2 class="entry-title"><a href="">Perspiciatis unde omnus</a></h2>
                                    <small class="date">2 oct 2014</small>
                                    <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium
                                        doloremque
                                        laudantium...</p>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="post">
                                    <figure class="featured-image"><img src="./images/news-3.jpg" alt=""></figure>
                                    <h2 class="entry-title"><a href="">Voluptatem laundantium totam</a></h2>
                                    <small class="date">2 oct 2014</small>
                                    <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium
                                        doloremque
                                        laudantium...</p>
                                </div>
                            </div>
                        </div> 
                    </div> 
                </div>  -->

                <div class="fullwidth-block" data-bg-color="#f1f1f1">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-8">
                                <h2 class="section-title">Our mission and vision</h2>
                                <p>The Hutyra Research Lab investigates carbon dynamics in forest systems and urban
                                    areas, studying a range of topics including forest ecology, urban carbon and
                                    nitrogen cycling, land use change impact on ecosystem productivity, fossil fuel
                                    emission patterns and determinants, and climatic controls on ecosystem carbon
                                    exchange. Fundamentally, our work is grounded in environmental biology and
                                    atmospheric sciences, but is applied to a range of systems.</p>

                            </div>
                            <div class="col-md-4">
                                <h2 class="section-title">Research Summaries</h2>
                                <ul class="arrow-list has-border">
                                    <li><a href="http://sites.bu.edu/hutyra/research-projects/">Carbon Cycle Science</a></li>
                                    <li><a href="http://sites.bu.edu/hutyra/research-projects/">Urbanization</a></li>
                                    <li><a href="http://sites.bu.edu/hutyra/research-projects/">Global Change</a></li>
                                    <li><a href="http://sites.bu.edu/hutyra/research-projects/">Ecosystem Ecology</a></li>
                                </ul>
                                <a href="http://sites.bu.edu/hutyra/research-projects/" class="button">Show more</a>
                            </div>
                        </div>
                    </div>
                </div>

<!--                 <div class="fullwidth-block cta" data-bg-image="./images/cta-bg.jpg">
                    <div class="container">
                        <h2 class="cta-title">Neque porro quisquam</h2>
                        <p>Modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem enim ad minima
                            veniam
                            quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea
                            commodi
                            consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil
                            moles</p>
                        <a href="#" class="button">See details</a>
                    </div>
                </div> -->

<!--                 <div class="fullwidth-block" data-bg-color="#edf2f4">
                    <div class="container">
                        <div class="subscribe-form">
                            <h2>Join our newsletter</h2>
                            <form action="#">
                                <input type="text" placeholder="Enter your email">
                                <input type="submit" value="Subscribe">
                            </form>
                        </div>
                    </div>
                </div> -->

            </main> <!-- .main-content -->
        </div>

        <%- include('./partials/footer') %>